<div class="container">
<h1>Contacto</h1>

<div id="texto" #textos>
    <p appResaltado>
      Esta es la Pagina de Contacto, Puedes Enviardos Cualquier Duda.
    </p>
</div>

<!--
Tamaño del Slider:
<input type="number" [(ngModel)]="widthSlider" />
<button (click)="cargarSlider()">Cargar Slider</button>
<button (click)="resetearSlider()">Resetear Slider</button>

  <div>
      <slider [anchura]="anchuraToSlider"
              [etiquetas]="captions"
              (conseguirAutor)="getAutor($event)"
      ></slider>
  </div>

  {{autor.nombre+ " "+autor.web}}
-->

</div>