<div class="container">
<h1>Contacto</h1>

<p>
  Esta es la Pagina de Contacto Puedes enviardos Cualquier duda
</p>

<!--
Tamaño del Slider:
<input type="number" [(ngModel)]="widthSlider" />
<button (click)="cargarSlider()">Cargar Slider</button>
<button (click)="resetearSlider()">Resetear Slider</button>

  <div>
      <slider [anchura]="anchuraToSlider"
              [etiquetas]="captions"
              (conseguirAutor)="getAutor($event)"
      ></slider>
  </div>

  {{autor.nombre+ " "+autor.web}}
-->

</div>