<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>
    Bienvenidos al {{ title }}!
  </h1>
  <p>
    Vamos a aprender Angular Juntos
  </p>

  <button (click)="ocultarVideojuegos(false)" *ngIf="mostrar_videojuegos">Ocultar</button>
  <button (click)="ocultarVideojuegos(true)" *ngIf="!mostrar_videojuegos">Mostrar</button>

  <!--Cargando el Componente Videojuego-->
  <videojuego *ngIf="mostrar_videojuegos"></videojuego>
  <cursos></cursos>
  <cursos></cursos>
  


</div>


