body{
    /*los dos puntos antes me sirven para poder ingresar a directorio padre para ir a la carptea IMG*/
    background: url("../img/4.jpg");
    background-attachment: fixed;
}
#logo{
    background: #ab04abed;
}
#menu ul li:hover{
    background: #ab04abed;
}
.button-more{
    background: #ab04abed;   
}
form input[type="submit"]{
    background: #ab04abed;
}
footer {
    background: rgba(204, 0, 255, 0.993);
}
#acordeon h3{
    background: #ab04abed;

}
#reloj{
    background: #ab04abed;
}