
/*Importar fuentes personalizadas o fuentes custom*/
@font-face{
    font-family: "yanone";
    src: url("fonts/yanone.ttf");
}

@font-face {
    font-family: "finger";
    src: url("fonts/finger.ttf");
}


/*Estilos generales*/

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: "yanone", Arial, Helvetica;
    font-size: 20PX;
    background: url("../img/pattern.png"); 
    position: fixed;   
}